.box-prod{
	max-height: 425px;
	max-width: 285px;
	padding: 2px;
	margin: 10% 10% 10%;
	border-width: 0px;
	float:left;
	border-style: solid ;
	border-color: black;
    align-self: center;
}

.box-prod1{
	max-height: 425px;
	max-width: 285px;
	padding: 2px;
	margin: 10% 10% 10%;
	border-width: 0px;
	float: left;
	border-style: solid ;
	border-color: black;		
}

.box-prod2{
	max-height: 425px;
	max-width: 285px;
	padding: 2px;
	margin: 10% 10% 10%;
	border-width: 0px;
	float: left;
	border-style: solid ;
	border-color: black;	
}

@media screen and (max-width: 600px) { 
    .box-prod{
        max-height: 425px;
        max-width: 285px;
        padding: 2px;
        margin: 10% 10% 10%;
        border-width: 1px;
        border-style: solid ;
        border-color: black;
        display: flexbox;
    }
    
    .box-prod1{
        max-height: 425px;
        max-width: 285px;
        padding: 2px;
        margin: 10% 10% 10%;
        border-width: 0px;
        float: left;
        border-style: solid ;
        border-color: black;		
    }
    
    .box-prod2{
        max-height: 425px;
        max-width: 285px;
        padding: 2px;
        margin: 10% 10% 10%;
        border-width: 0px;
        float: left;
        border-style: solid ;
        border-color: black;	
    }
}