/*grid*/
.logo { grid-area: logo; }
.header { grid-area: header; }
.menu { grid-area: menu; }
.corpo { grid-area: main; }
.addon { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'menu main main main main right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color:#34495e;
  padding: 10px;
}

.grid-container > div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.titulo {
    color: rgba(255, 255, 255, 0.8);
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo1 {
    color: red;
    
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.corpotexto {
    text-align: justify;
    font-weight: bolder;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
}



.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    background-color: #f1f2f3;
}


tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    
  
    background-color: rgba(71, 0, 202, 0.842);
    color: #fff;
}

th[scope="row"] {
    background-color: #08000c8a;
    color: #eeeeee;
}


table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.body-index{
  background-color: #33393f;


}
h1 {
  color:rgba(255, 255, 255, 0.8);
  text-align: center;
  align-items: center;
  

}
p{
  text-align: center;
  color:rgba(255, 255, 255, 0.8);
}
h2{
  text-align: center;
  color:rgba(255, 255, 255, 0.8);
}



