
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #34495e;
}
.content{
    border-radius: 15px;
    background-color: whitesmoke;
    width: 960px;
    height: 75%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 15px;
}
.content::before{
    content:"";
    position:absolute;
    background-color: rgb(224, 135, 0);
    width: 40%;
    height: 100%;
    border-top-left-radius : 15px;
    border-bottom-left-radius: 15px;
    left:0;   
}
.title{
    
    font-size:28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primeira{
    color:#fff;
}
.title-segunda{
    color: rgb(224, 135, 0);
}
.descricao{
    font-size: 14px;
    font-weight: 300;  
    line-height: 30px;
}
.descricao-primeira{
    color: #fff;
}
.descricao-segunda{
    color: rgb(19, 16, 11);
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor:pointer;
    font-weight: bold;
    width: 155px;
    align-self: center;
    border:none;
}
.btn-primeiro{
    background-color: transparent;
    border:1px solid #fff;
    transition: background-color .5s;  
}
.btn-primeiro:hover{
    background-color: #fff;
    color: rgb(224, 135, 0);
}
.btn-segundo{
    background-color: transparent;
    border:1px solid rgb(224, 135, 0);
    color: rgb(224, 135, 0);
    transition: background-color .5s;
}
.btn-segundo:hover{
    background-color: rgb(224, 135, 0);
    color: #fff;
}
.primeiro-content{
    display: flex;
}
.primeiro-content .segunda-coluna{
    z-index: 12;
}
.primeira-coluna{
    text-align: center;
    width: 40%;
    z-index:10;
}
.segunda-coluna{
    width: 60%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.list-social-media{
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 5px;   
}
.list-social-media a{
    padding: 8px;
}

.item-social-media{
  text-align: center;
  display: flex;
}
.form{
    display:flex;
    flex-direction: column;
    width: 55%;
    display: inline;
    text-align: center;
}
.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    display: flex;    
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon{
    padding:0 5px;
}

.segundo-content{
    position: absolute;
    display: flex;
}
.segundo-content .primeira-coluna {
    order: 2;
    z-index: -1;
}
.segundo-content .segunda-coluna {
    order: 1;
    z-index: -1;
}
.password{
    color:#34495e;
    font-size: 14px;
    margin:15px 0px;
}
.password::first-letter{
    text-transform: capitalize;
}
.sign-in-js .primeiro-content .primeira-coluna,
.sign-in-js .primeiro-content .segunda-coluna{
    z-index: -1;
}
.sign-in-js .segundo-content .primeira-coluna,
.sign-in-js .segundo-content .segunda-coluna{
    z-index: 11;
}
.sign-in-js .content::before{
    left: 63%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius : 15px;
    border-bottom-right-radius: 15px;
}

.sign-up-js .segundo-content .primeira-coluna,
.sign-up-js .segundo-content .segunda-coluna{
    z-index: -1;
}
.sign-up-js .primeiro-content .primeira-coluna,
.sign-up-js .primeiro-content .segunda-coluna{
    z-index: 11;
}